body {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Inter", sans-serif;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

h1, h2, h3 {
    line-height: 1em;
    margin: 0;
}

input { 
    border: 0;
}

input:focus {
    outline: none;
}

p { 
    margin: 0;
    line-height: 1em;
    padding: 0;
}

textarea {
    user-select: none;
    border: 0;
}

textarea:focus {
    outline: none;
}

button {
    border: 0;
}