<main>
    <div class="todo">
        <div [ngClass]="{ 'menu-active': isMenuVisible && todoItems.length > 0}" class="todo_menu bg">
            <input class="todo_menu-input" placeholder="Write something..." />
            <div 
                [ngClass]="{ 'arrow-active': isMenuVisible && todoItems.length > 0 }" 
                class="todo_menu-arrow" 
                (click)="changeMenuState()"
            >
                <span></span>
            </div>
        </div>
        <div 
            #todoItemsElement
            [ngClass]="{ 'menu_on': isMenuVisible && todoItems.length > 0}" 
            class="todo_menu todo_items bg"
        >
            <p class="todo_items-title">Status</p>
            <div  
                *ngFor="let todoItem of todoItems; let i = index"
                class="todo_menu-item"
                [@fadeOutRight]="todoItem === removingItem ? 'removing' : 'default'"
            >
                <div 
                    [ngClass]="{ 'checked': todoItem.checked }" 
                    class="todo_menu-item_checkbox"
                    (click)="changeChackedStatus(i)"
                ></div>
                <span [ngClass]="{ 'checked_text': todoItem.checked }" class="todo_menu-text">
                    {{ todoItem.text }}
                </span>
                <img
                    [ngStyle]="{ 'opacity': todoItem.checked ? '100%' : '0%' }"
                    class="thrash_icon" 
                    src="/thrash.svg"
                    (click)="deleteItem(i)"
                 />
            </div>
        </div>
    </div>
</main>