<main class="main">
    <button class="app-log-button">Log In</button>
    <div
        [ngClass]="{ 
            'notification-active': 
                (
                    todoValueForm.get('todoValue')?.errors?.['minlength'] || 
                    todoValueForm.get('editingItemValue')?.errors?.['minlength']
                ) &&
                showNotification
            }" 
        class="todo_notification todo_menu bg"
    >
        The field have less than 5 characters 
    </div>

    <div
        [ngClass]="{ 
            'notification-active': 
                (
                    todoValueForm.get('todoValue')?.errors?.['maxlength'] ||
                    todoValueForm.get('editingItemValue')?.errors?.['maxlength']
                ) &&
                showNotification
            }" 
        class="todo_notification todo_menu bg"
    >
        No more than 200 characters allowed
    </div>

    <div
        [ngClass]="{ 
            'notification-active': 
                (
                    todoValueForm.get('todoValue')?.errors?.['required']
                ) &&
                showNotification
            }" 
        class="todo_notification todo_menu bg"
    >
        The field is empty
    </div>

    <div class="todo">
        <div class="todo-wrapper">
            <div 
                [ngClass]="{ 'menu-active': todoItems.length > 0}" 
                class="todo_menu bg"
                [formGroup]="todoValueForm"
            >
                <input 
                    class="todo_menu-input" 
                    placeholder="Write something..."
                    formControlName="todoValue"
                    (keydown)="onEnter($event)"
                    minlength="5"
                    maxlength="200"
                />
                <div 
                    [ngClass]="{ 'arrow-active': todoItems.length > 0}" 
                    class="todo_menu-arrow" 

                >
                    <span></span>
                </div>
            </div>
            <div 
                #todoItemsElement
                [ngClass]="{ 'menu_on': todoItems.length > 0}" 
                class="todo_menu todo_items bg"
            >
                <p class="todo_items-title">Status</p>
                <div  
                    *ngFor="let todoItem of todoItems; let i = index"
                    class="todo_menu-item"
                    [@fadeOutRight]="todoItem === removingItem ? 'removing' : 'default'"
                    [formGroup]="todoValueForm"
                >
                    <div 
                        [ngClass]="{ 
                            'checked': todoItem.checked, 
                            'edited_text': todoValueForm.get('editingItemValue')?.value !== null 
                        }" 
                        class="todo_menu-item_checkbox"
                        (click)="changeCheckedStatus(i)"
                    ></div>

                    <span 
                        [ngClass]="{ 'checked_text': todoItem.checked }"
                        [ngClass]="{ 'edited_text': todoValueForm.get('editingItemValue')?.value !== null }" 
                        class="todo_menu-text"
                    >
                        {{ todoItem.text }}
                    </span>

                    <textarea
                        [ngClass]="{ 'edited_text': todoValueForm.get('editingItemValue')?.value === null }"
                        class="todo_items-input"
                        formControlName="editingItemValue"
                        minlength="5"
                        maxlength="200"
                    >
                    </textarea>

                    <img 
                        src="/edit.png"
                        class="icon edit_icon"
                        *ngIf="!todoItem.checked"
                        (click)="onEdit(i)"
                    />

                    <img
                        *ngIf="todoItem.checked"
                        class="icon thrash_icon" 
                        src="/thrash.svg"
                        (click)="deleteItem(i)"
                    />
                </div>
            </div>
        </div>
    </div>
</main>